# Configurações do Banco de Dados (API PHP)
DB_HOST=db.petro.local
DB_NAME=glpi_fisco
DB_USER=glpi_fisco
DB_PASS=SUA_SENHA_AQUI

# Configurações do Frontend (Vite)
# Nome da unidade exibido no Portal (Ex: REDUC, Fisco, Sede)
VITE_PROJECT_UNIT=REDUC

# Integração API REST GLPI
GLPI_API_URL=https://fisco.g4f.sharksolucoes.com.br/apirest.php/
GLPI_APP_TOKEN=OsSl5jvHymW58g6blPXVGzVEMgrczOmCQ777ZjLE