# Configurações do Banco de Dados
DB_HOST=localhost
DB_NAME=nome_do_banco
DB_USER=usuario
DB_PASS=senha

# Configurações da API GLPI
GLPI_API_URL=https://sua-url-glpi.com/apirest.php/
GLPI_APP_TOKEN=seu_app_token_aqui